flows.json
[{"id":"a7fc790e.bc53c8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"36713564.3d77ca","type":"ibmiot in","z":"a7fc790e.bc53c8","authentication":"apiKey","apiKey":"57e3462b.96b748","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"24680","applicationId":"","deviceType":"projectiot","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":230,"y":200,"wires":[["8b97bee.d82744","427aa5a.1b3d65c","be85d83f.e170b8","f7400860.c03798","d63dfcb8.45042"]]},{"id":"84f2ff25.e981d","type":"ibmiot out","z":"a7fc790e.bc53c8","authentication":"apiKey","apiKey":"57e3462b.96b748","outputType":"cmd","deviceId":"24680","deviceType":"projectiot","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":520,"wires":[]},{"id":"8b97bee.d82744","type":"function","z":"a7fc790e.bc53c8","name":"Height","func":"global.set('t',msg.payload.d.height)\nmsg.payload=msg.payload.d[\"height\"]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":180,"wires":[["722d557e.4a444c","f7400860.c03798"]]},{"id":"427aa5a.1b3d65c","type":"function","z":"a7fc790e.bc53c8","name":"Weight","func":"global.set('h',msg.payload.d.weight)\nmsg.payload=msg.payload.d[\"weight\"]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":240,"wires":[["617309a4.fadc38","f7400860.c03798"]]},{"id":"be85d83f.e170b8","type":"function","z":"a7fc790e.bc53c8","name":"Device ID","func":"msg.payload=msg.payload.d.name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":300,"wires":[["2ff70bca.06d5a4"]]},{"id":"722d557e.4a444c","type":"ui_gauge","z":"a7fc790e.bc53c8","name":"","group":"1576216d.4b2f9f","order":1,"width":0,"height":0,"gtype":"gage","title":"Height","label":"units","format":"{{value}}","min":0,"max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":180,"wires":[]},{"id":"617309a4.fadc38","type":"ui_gauge","z":"a7fc790e.bc53c8","name":"","group":"7cdf7da0.7a34f4","order":7,"width":15,"height":9,"gtype":"gage","title":"Weight","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":240,"wires":[]},{"id":"fc1dcf29.f0e98","type":"ui_button","z":"a7fc790e.bc53c8","name":"","group":"1576216d.4b2f9f","order":13,"width":0,"height":0,"passthru":false,"label":"Maximum Height","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"maxh\"}","payloadType":"json","topic":"topic","topicType":"msg","x":310,"y":500,"wires":[["84f2ff25.e981d"]]},{"id":"574cf70.ced6308","type":"ui_button","z":"a7fc790e.bc53c8","name":"","group":"1576216d.4b2f9f","order":14,"width":0,"height":0,"passthru":false,"label":"Maximum Weight","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"maxw\"}","payloadType":"json","topic":"topic","topicType":"msg","x":310,"y":580,"wires":[["84f2ff25.e981d"]]},{"id":"97449de9.6c0bd","type":"http in","z":"a7fc790e.bc53c8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":280,"y":620,"wires":[["36c1498f.320ea6","8428dc7d.21d88","84f2ff25.e981d"]]},{"id":"36c1498f.320ea6","type":"http response","z":"a7fc790e.bc53c8","name":"","statusCode":"","headers":{},"x":770,"y":560,"wires":[]},{"id":"8428dc7d.21d88","type":"debug","z":"a7fc790e.bc53c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":660,"wires":[]},{"id":"ce3e7c0c.9edec","type":"function","z":"a7fc790e.bc53c8","name":"","func":"msg.payload={\n    \"Height\": global.get('t'),\n    \"Weight\":global.get('h'),\n    \"Location\":global.get('l')\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":360,"wires":[["ad83f2ac.4db4"]]},{"id":"f7400860.c03798","type":"debug","z":"a7fc790e.bc53c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":120,"wires":[]},{"id":"2ff70bca.06d5a4","type":"ui_text","z":"a7fc790e.bc53c8","group":"1576216d.4b2f9f","order":12,"width":0,"height":0,"name":"","label":"Device ID","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":300,"wires":[]},{"id":"ad83f2ac.4db4","type":"http response","z":"a7fc790e.bc53c8","name":"","statusCode":"","headers":{},"x":590,"y":400,"wires":[]},{"id":"6b756b2b.776d54","type":"http in","z":"a7fc790e.bc53c8","name":"","url":"/data1","method":"get","upload":false,"swaggerDoc":"","x":190,"y":380,"wires":[["ce3e7c0c.9edec"]]},{"id":"d63dfcb8.45042","type":"function","z":"a7fc790e.bc53c8","name":"Location","func":"global.set('l',msg.payload.d.location)\nmsg.payload=msg.payload.d[\"location\"]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":100,"wires":[["8df83d1d.3a7bc","f7400860.c03798"]]},{"id":"8df83d1d.3a7bc","type":"ui_text","z":"a7fc790e.bc53c8","group":"7cdf7da0.7a34f4","order":6,"width":0,"height":0,"name":"","label":"location","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":80,"wires":[]},{"id":"57e3462b.96b748","type":"ibmiot","name":"EXTERNSHIP","keepalive":"18000","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"1576216d.4b2f9f","type":"ui_group","name":"sensor data","tab":"ff2c8660.84a6a8","order":3,"disp":true,"width":9,"collapse":false},{"id":"7cdf7da0.7a34f4","type":"ui_group","name":"sensor data","tab":"ff2c8660.84a6a8","order":1,"disp":true,"width":15,"collapse":false},{"id":"ff2c8660.84a6a8","type":"ui_tab","name":"SWMS","icon":"dashboard","disabled":false,"hidden":false}]